*{
    box-sizing: border-box;
}

body{

    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
    color: #28353E;
    line-height: 1.6;
}

img{
    max-width: 100%;
}



/* =================
Typography
================== */

h1, 
h2, 
p, 
a, 
img{
    margin: 0;
}

h1{
    font-size: 3rem;
    line-height: 1.1;
}

h2{
    font-size: 2rem;
}



.btn{
    display: inline-block;
    margin-top: 2em;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 2em;
    padding: .75em 1.25em;
    border-radius: 40em;
}



.btn-free-link{
    color: #083D52;
    background-color: #fff;
}

.btn-free-link:hover,
.btn-free-link:focus{
    color: #083D52;
    background-color: #FFB800;
}


.btn-demo-link{
    border: 2px solid #fff;
}

.btn-demo-link:hover,
.btn-demo-link:focus{
    background-color: #083D52;
    border: 0;
}

.hero{
    color: #fff;
    background-color: #286CFF;
}

.hero-section{
    padding: 10em 0;
}


.hero-links,
.price-links{
    margin-bottom: 2em;
}

.price-free-link{
    color: #fff;
    background-color: #286CFF;
}

.price-free-link:hover,
.price-free-link:focus {
    color: #083D52;
    background-color: #FFB800;
}

.price-demo-link{
    border: 2px solid #286CFF;
    color: #083D52;
}

.price-demo-link:hover,
.price-demo-link:focus{
    background-color: #083D52;
    color: #fff;
    border: 0;
}




/* nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li{
    list-style: none;
    
}

nav a{
    color: #fff;
    text-decoration: none;

}

nav a:hover,
nav a:focus{

}

.nav-bar{
    display: flex;
    flex-direction: column;
    background-color: #286CFF;
    text-align: center;
} */






.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 3em 1em;
    align-items;: center
    
}

.hero-img{
    margin-bottom: 2em;
    padding: 0 1em;
}

.team-chat{
    text-align: center;
    padding: 6em 0;
}

.pricing-plans{
    background: rgba(40, 108, 255, 10%)
}

.plan{
    display: flex;
    flex-direction: column;
}

.testimonial-icons{
    max-width: 30%;
}

.testimonial-content{
    font-size: .75rem;
}

@media (min-width: 650px){
    
    h1{
        font-size: 4rem;
    }
    
    .hero-section{
        flex-direction: row;
        align-items: center;
        padding: 6em 0;
    }    


    .team-chat{
        width: 50%;
    }

    .plan{
        flex-direction: row;
        justify-content: space-between;
        padding: 5em 0;
    }

    .plan-content{
        margin-left: .5em;
    }
}